<ion-header>
    <ion-toolbar [color]="colorStatus?'toolbar-color':'medium'">
        <ion-buttons slot="end">
            <ion-button (click)="sair()">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Noticias
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div *ngFor="let noticia of noticias | async">
        <div *ngIf="tipoUsuario == 'adm'">
            <ion-card (click)="maisOpcoes(noticia)">
                <ion-card-header>
                    <ion-card-subtitle>{{noticia.titulo}}</ion-card-subtitle>

                </ion-card-header>


                <ion-card-content>
                    <!--  -->
                    <p>{{noticia.descricao}}</p>

                    <div *ngIf="noticia.postar == true">
                        <ion-note color="success"> Visível</ion-note>
                    </div>

                    <div *ngIf="noticia.postar == false">
                        <ion-note slot="end" color="danger"> Rascunho</ion-note>
                    </div>
                </ion-card-content>


            </ion-card>


            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button color="medium" (click)="novaNoticia('NovaNoticiaPage', 'novaNoticia')">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </div>

        <div *ngIf="tipoUsuario == 'pai'">
            <ion-card class="aviso" *ngIf="noticia.postar == true">
                <ion-card-header>
                    <ion-card-subtitle>{{noticia.titulo}}</ion-card-subtitle>

                </ion-card-header>


                <ion-card-content>
                    <p>{{noticia.descricao}}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>